/* Space out content a bit */
@import "compass/reset";
@import "compass/utilities";
@import "compass/css3/transition";

@import "grid";
@import "missing";

@font-face {
    font-family: 'circular';
    src: url('../fonts/circular.woff');
}

@font-face {
    font-family: 'circular';
    src: url('../fonts/circular-bold.woff');
    font-weight: bold;
}

@font-face {
    font-family: 'thin';
    src: url('../fonts/thin.woff');
}

@font-face {
    font-family: 'thin';
    src: url('../fonts/thin-bold.woff');
    font-weight: bold;
}

ul.clear-list{
    margin: 0; padding: 0;
    li{
        list-style: none;
    }
}

html, body {
    padding: 0; margin: 0;
    font-family: 'circular';
}

.thin-font{font-family: 'thin';}
.bold{font-weight: bold;}
.center{text-align: center;}

h2{font-size: 120px;}
h3{font-size: 75px;}
h4{font-size: 45px;}
a{
    text-decoration: none;
    color: black;
    &:hover{
        text-decoration: none;
    }
}

$gray: rgb(128, 128, 128);
$hi-color: #DCA459;


.header-wrapper{
    position: fixed; top: 0; left: 0; right: 0;
    .header{
        background: rgba(26, 26, 26, .2);
        color: #fff;
        height: 65px;
        .left{
            float: left;
            .logo{
                margin: 22px 0 0 20px;
                font-size: 23px;
                cursor: pointer;
            }
        }
        .right{
            float: right;
            .nav-list{
                &.small{
                    display: none;
                }
                li{
                    float: left;
                    a{
                        display: inline-block;
                        font-size: 18px;
                        padding: 24px 20px 23px;
                        @include transition(all .3s);
                        cursor: pointer; color: inherit;
                        &:hover{
                            background: $hi-color;
                        }
                    }
                }
                @media (max-width: $middle-width){
                    display: none;
                    &.small.right{
                        display: block;
                    }
                }
            }
        }
    }
}

.content-wrapper{
    background: #fff;
    .hero{
        background: url('../images/services.jpg');
        background-size: cover;
        padding-top: 200px;
        color: #fff;
        .content{
            h2{
                
            }
            p{
                padding-bottom: 150px;
                font-size: 18px;
                width: 90%;
                margin: 0 auto;
                letter-spacing: 1px;
                line-height: 27px;
            }
        }
    }

    .nav-buttons{
        background: #fff;
        height: 146px;
        .button-list{
            display: block;
            max-width: 960px;
            margin: 0 auto;
            .nav-button{
                float: left;
                width: 12.5%;
                margin: 0;
                a{
                    padding: 40px 0;
                    text-align: center;
                    display: block;
                    font-size: 16px;
                    color: $gray;
                    @include transition(all .3s);
                    background: #fff;
                    &:hover, &.selected{
                        background: #E4EBED;
                    }
                    img{
                        display: inline-block;
                        padding: 0 40px;
                        width: 40px;
                        margin-bottom: 10px;
                    }
                    p{
                        display: block;
                    }
                }
            }
        }
    }

    .section{
        text-align: center;
        padding: 80px 0;
        &.bare{padding: 0;}
        color: darken($gray, 10%);
        &.blue{ background: #E4EBED; }
        &.gray{ background: #E8E8E8; }
        @media (max-width: $middle-width){
            .vcenter2-inner{
                float: left;
                &.float-right{
                    display: block;
                    float: right;
                }
            }
        }
        .button{
            border: 2px solid white;
            &.dark{border-color: #aaa;}
            border-radius: 5px;
            padding: 18px 20px;
            width: 210px;
            color: $gray*.6;
            cursor: pointer;
            display: inline-block;
            margin-top: 20px;
            text-transform: uppercase;
            &:hover{
                color: black;
                border-color: black;
            }
        }
        .content{
            width: 90%;
            margin: 0 auto;
            .illustration-wrapper{
                margin: 0 auto;
                max-width: 400px;
                img{
                    max-width: 100%;
                }
            }
            h3{
                text-transform: uppercase;
                margin-bottom: 30px;
            }
            h4{
                margin-bottom: 20px;
            }
            p{
                font-size: 16px;
                line-height: 1.68;
                letter-spacing: 1px;
            }
        }
        &.appraise{
            .grid-12{
                margin-bottom: 10px;
            }
            .summary{
                margin-bottom: 40px;
                img{
                    width: 150px;
                }
            }
            .avatar{
                img{
                    width: 75px;
                    padding: 20px;
                    border-radius: 100%;
                }
            }
            .item{
                margin-top: 40px;
                p, .title{
                    font-size: 15px;
                }
            }
        }
    }
}

$black: #1E2222;
$black-bg: #3C4544;
.footer-wrapper{
    background: $black;
    color: $black-bg;
    padding: 40px 0;
    text-align: center;
    font-size: 15px;
}

